<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
</head>
<body>
  <h1>Task Management App</h1>
  <p>MongoDB for authentication, PostgreSQL for tasks.</p>

  <p><a href="/login">Login</a></p>
  <p><a href="/register">Register</a></p>
</body>
</html>
